fastapi
uvicorn
python-dotenv
openai
pydantic
python-multipart
numpy
pandas
yfinance
matplotlib
python-dotenv
pytz
langchain 
langchain-community
langchain_openai
autogen-core
autogen-ext
azure-ai-inference
tavily-python
autogen
autogen_agentchat
autogen-ext[azure,magentic-one]